<template name="Profile">
    <div class="row">
        <div class="well well-sm">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <img src="{{imageUrl}}" alt="" class="img-rounded img-responsive">
                </div>
                <div class="col-sm-6 col-md-8">
                    <h2>{{user.firstname}} {{user.lastname}}</h2>
                    <p>
                        <i class="glyphicon glyphicon-user"></i>{{user.username}}
                    </p>
                    <p>
                        <i class="glyphicon glyphicon-envelope"></i>{{user.email}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>